append style
    link(href=require('Styles/content.scss') rel='stylesheet')

section.section
    .container 
        h2.section_h2
            a(href="#" id="tvshows").section_h2-link Trending TV Shows
        .movies 
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster01.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster02.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster03.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster04.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster05.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster06.png")).movies_img
        h2.section_h2
            a(href="#" id="movies").section_h2-link Trending Movies
        .movies 
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster01.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster02.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster03.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster04.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster05.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster06.png")).movies_img
        button.section_btn See More

section.section
    .container 
        h2.section_h2
            a(href="#").section_h2-link Popular Genres
        .genres
            .genres_item.genres_item-romance
                .genres_icon
                    img(src=require("Images/genres/romance.svg")).genres_img
                h3.genres_title Romance
            .genres_item.genres_item-drama
                .genres_icon
                    img(src=require("Images/genres/drama.svg")).genres_img
                h3.genres_title Drama
            .genres_item.genres_item-historical
                .genres_icon
                    img(src=require("Images/genres/historical.svg")).genres_img
                h3.genres_title Historical
            .genres_item.genres_item-action
                .genres_icon
                    img(src=require("Images/genres/action.svg")).genres_img
                h3.genres_title Action
        .genres 
            .genres_item.genres_item-scifi
                .genres_icon
                    img(src=require("Images/genres/sci-fi.svg")).genres_img
                h3.genres_title Sci-fi
            .genres_item.genres_item-horror
                .genres_icon
                    img(src=require("Images/genres/horror.svg")).genres_img
                h3.genres_title Horror
            .genres_item.genres_item-comedy
                .genres_icon
                    img(src=require("Images/genres/comedy.svg")).genres_img
                h3.genres_title Comedy
            .genres_item.genres_item-documentary
                .genres_icon
                    img(src=require("Images/genres/documentary.svg")).genres_img
                h3.genres_title Documentary
           
section.section
    .container 
        h2.section_h2
            a(href="#").section_h2-link Popular Actors & Directors
        .actors 
            .actors_item
                a(href="#").actors-link
                    img(src=require("Images/actors/actor01.png")).actors_img
                h3.actors_name Samantha Bowen
            .actors_item
                a(href="#").actors-link
                    img(src=require("Images/actors/actor01.png")).actors_img
                h3.actors_name Samantha Bowen
            .actors_item
                a(href="#").actors-link
                    img(src=require("Images/actors/actor01.png")).actors_img
                h3.actors_name Samantha Bowen
            .actors_item
                a(href="#").actors-link
                    img(src=require("Images/actors/actor01.png")).actors_img
                h3.actors_name Samantha Bowen
            .actors_item
                a(href="#").actors-link
                    img(src=require("Images/actors/actor01.png")).actors_img
                h3.actors_name Samantha Bowen
            .actors_item
                a(href="#").actors-link
                    img(src=require("Images/actors/actor01.png")).actors_img
                h3.actors_name Samantha Bowen
            

section.section
    .container 
        .marketing
            .marketing_item
                a(href="#").marketing-link
                    img(src=require("Images/marketing/marketing01.png")).marketing_img
            .marketing_item
                a(href="#").marketing-link
                    img(src=require("Images/marketing/marketing02.png")).marketing_img

section.section
    .container 
        .offer
            h2.offer_title Are You New Here? Don't&nbspwait, Register Now.
            button.offer_btn Register