append style
    link(href=require('Styles/content.scss') rel='stylesheet')

section.section
    .container 
        h2.section_h2
            a(href="#" id="tvshows").section_h2-link Trending TV Shows
        .movies 
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster01.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster02.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster03.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster04.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster05.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster06.png")).movies_img
        h2.section_h2
            a(href="#" id="movies").section_h2-link Trending Movies
        .movies 
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster01.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster02.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster03.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster04.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster05.png")).movies_img
            .movies_item
                a(href="#").movies-link
                    img(src=require("Images/posters/poster06.png")).movies_img